/*---------- Body & Font */
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

body {
    font-family: 'Oleo Script Swash Caps', cursive;
    background-color: #262626;
}

/*---------- index.html */

.container{
    text-align: center;
}

#index-header {
    color: #ff4000;
    font-size: 5em;
    margin-top: 1.4em;
}

#index-tag {
    color: #ff4000;
    font-size: 2.25em;
    margin-bottom: 1.5em;
}

#index-cocktail {
    background: 
}

/*---------- Navbar */

.nav-link {
    color: #ff4000;
    font-size: 1.7em;
}

.nav-link:hover {
    color: #ffffff;
}

.nav {
    border-bottom: 0.15em solid #ff4000;
}
/*---------- Footer */

footer {
    height: 5rem;
}

.list-inline {
    text-align: center;
}

.social-icons li a i{
    color: #ff4000;
    font-size: 1.4rem;
    margin-top: 0.7rem;
}

.social-icons li a i:hover {
    color: #ffffff;
}