/*---------- Body & Font */
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

body {
    font-family: 'Oleo Script Swash Caps', cursive;
    background-color: #262626;
}

/*---------- index.html */

.container{
    text-align: center;
}

#index-header {
    color: #ff4000;
    font-size: 5.2em;
    margin-top: 0.8em;
}

#index-tag {
    color: #ff4000;
    font-size: 2.25em;
    margin-bottom: 0.5em;
}

#index-tag-two {
    color: #ff4000;
    font-size: 1.6em;
    padding-bottom: 1.5em;
}


#index-cocktail {
    background: url("../static/images/Cocktail2.jpg") no-repeat fixed;
    height: 15rem;
    width: 100%;
    position: relative;
    align-content: center;
    border: solid 0.2em #f2f2f2;
}

#index-food{
    border: 0.2em solid #f2f2f2;
    height: 15em;
}

.menu-link {
    color: #ff4000;
    font-size: 2.2em;
    margin-top: 1em;
}

.menu-link:hover {
    color: #f2f2f2;
    text-decoration: none;
}

/*---------- Navbar */

.nav-link {
    color: #ff4000;
    font-size: 1.7em;
}

.nav-link:hover {
    color: #f2f2f2;
}

.nav {
    background-color: #262626;
    border-bottom: 0.15em solid #f2f2f2;
}

.nav-break {
    color: #ff4000;
}
/*---------- Footer */

footer {
    height: 4rem;
    margin-top: 0.5rem;
}

.list-inline {
    text-align: center;
}

.social-icons li a i{
    color: #ff4000;
    font-size: 1.8rem;
    margin-top: 0.7rem;
}

.social-icons li a i:hover {
    color: #f2f2f2;
}