/*---------- Body & Font */
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

body {
    font-family: 'Oleo Script Swash Caps', cursive;
    background-color: #262626;
}

/*---------- index.html */

.container{
    text-align: center;
}

#index-header {
    color: #ff4000;
    font-size: 5.2em;
    margin-top: 0.8em;
}

#index-tag {
    color: #ff4000;
    font-size: 2.25em;
    margin-bottom: 0.5em;
}

#index-tag-two {
    color: #ff4000;
    font-size: 1.6em;
    padding-bottom: 1.5em;
}

.card-img-top {
    height: 13.5rem;
    margin-bottom: 0;
}

.card-body {
    height: 5.2rem;
}

#index-cocktail {
    background-color: #f2f2f2;
    border: solid 0.2em #f2f2f2;
}

#index-cocktail-link {
    color: #ff4000;
    text-decoration: none;
    font-size: 3rem;
}

#index-cocktail-link:hover {
    color: #262626;
}

#index-food {
    background-color: #f2f2f2;
    border: solid 0.2em #f2f2f2;
    width: 100%;
}

#index-food-link {
    color: #ff4000;
    text-decoration: none;
    font-size: 3rem;
}

#index-food-link:hover {
    color: #262626;
}

.menu-link {
    color: #ff4000;
    font-size: 2.2em;
    margin-top: 1em;
}

.menu-link:hover {
    color: #f2f2f2;
    text-decoration: none;
}

/*---------- Food Page */

#filter-heading {
    color: #ff4000;
}

#dropdownMenuButton {
    color: #ff4000;
    background-color: #f2f2f2;
}



/*---------- Navbar */

.nav-link {
    color: #ff4000;
    font-size: 1.7em;
}

.nav-link:hover {
    color: #f2f2f2;
}

.nav {
    background-color: #262626;
    border-bottom: 0.15em solid #f2f2f2;
}

.nav-break {
    color: #ff4000;
}
/*---------- Footer */

footer {
    height: 4rem;
    margin-top: 0.5rem;
}

.list-inline {
    text-align: center;
}

.social-icons li a i{
    color: #ff4000;
    font-size: 1.8rem;
    margin-top: 0.7rem;
}

.social-icons li a i:hover {
    color: #f2f2f2;
}