<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
    <script src="https://kit.fontawesome.com/39f5ad3fd9.js" crossorigin="anonymous"></script>
    <link href="../static/css/style.css" rel="stylesheet"/>
    <title>RJ's Recipes</title>
  </head>
  <body>
  <!-- Navbar -->
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="#">RJ's Recipes  <i class="fas fa-home"></i></a>
      </li>
      <span class="nav-break">|</span>
      <li class="nav-item">
        <a class="nav-link" href="#">Cocktails  <i class="fas fa-cocktail"></i></a>
      </li>
      <span class="nav-break">|</span>
      <li class="nav-item">
        <a class="nav-link" href="#">Food  <i class="fas fa-utensils"></i></a>
      </li>
      <span class="nav-break">|</span>
      <li class="nav-item">
        <a class="nav-link" href="#">Add a Recipe  <i class="fas fa-plus"></i></a>
      </li>
      <span class="nav-break">|</span>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact  <i class="fas fa-pen"></i></a>
      </li>
    </ul>
    <!-- Block Content -->
    {% block content %}
    
    {% endblock %}
    <!-- Footer -->
    <footer class="container-fluid">
        <div class="row">
            <div class="col-8 offset-2 footer-col">
                <ul class="list-inline social-icons">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com" target="_blank">
                            <i class="fab fa-facebook" aria-hidden="true"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.twitter.com" target="_blank">
                            <i class="fab fa-twitter" aria-hidden="true"></i>
                            <span class="sr-only">Twitter</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.youtube.com" target="_blank">
                            <i class="fab fa-youtube" aria-hidden="true"></i>
                            <span class="sr-only">Youtube</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com" target="_blank">
                            <i class="fab fa-linkedin" aria-hidden="true"></i>
                            <span class="sr-only">Linked In</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com" target="_blank">
                            <i class="fab fa-instagram" aria-hidden="true"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
